<!DOCTYPE html>
<html>
  <head>
    <title>Rails勉強中</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class = "top_page">
      <h1><a href = "/">トップページへ</a></h1>
    </header>
    <%= yield %>
  </body>
</html>
